body {

    color: #000000;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #867b7bbb;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    background-color: #91C4B7;
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
  }

  div {
    font-size: 20px;
    margin-left: 10px;
  }

  #current-date {
    font-weight: bold;
  }

  #working-cat {
    border-radius: 50px;
    height: 100px;
    margin-left: 25px;
  }

  img {
    border-radius: 50px;
    height: 30px;
    margin-left: 10px;
  }

  input {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #F7F2DD;
    color: #000000;
    font-family: sans-serif;
    width: 300px;
    
  }

  button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    background-color: #CE7C7F;
    margin-left: 10px;
  
    /* Change color on hover */
    &:hover {
      background-color: #91C4B7;
      color: #fff;
    }
  }

  .submit-button {
    background-color: #91C4B7;
  }

  .remove-button {
    background-color: #CE7C7F;
    ;
  }

  .box {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    cursor: pointer;
    bottom: 5px
   }

   li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
   }